<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <siteMap defaultProvider="Menu">
        <providers>
          <add name="Menu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Menu.sitemap"/>

          <add name="Menuu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Menuu.sitemap"/>
        </providers>
      </siteMap>
      
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="QL_BanTraConnectionStrings" connectionString="Data Source = DESKTOP-K7BRREB\SQLEXPRESS; Initial Catalog = QL_BanTra; Integrated Security = true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
</configuration>
